.bgl{
	background-image: url(logo.png);
	background-size: 100% 100%;
}
.bgn{
	background-image: url(line.png);
	background-size: 100% 100%;
}
.bgl2{
	background-image: url(logo2.png);
	background-size: 100% 100%;
}
.bgb{
	background-image: url(groot.png);
	background-size: 100% 100%;
}
.bgm{
	background-image: url(mbn.png);
	background-size: 100% 100%;
}
.bg9{
	background-image: url(9gag.png);
	background-size: 100% 100%;
}
.w-35{
	width: 35px
}
.hg-35{
	height: 35px
}
.hg-40{
	height: 40px
}
.hg-50{
	height: 50px
}
.hg-55{
	height: 55px
}
.hg-70{
	height: 70px
}
.hg-75{
	height: 75px
}
.hg-90{
	height: 90px
}
.hg-45{
	height: 45px
}
.hg-50{
	height: 50px
}
.hg-150{
	height: 150px
}
.hg-600{
	height: 600px
}
.hg-700{
	height: 700px
}
.hg-450{
	height: 450px
}
.hg-325{
	height: 325px
}
.hg-525{
	height: 525px
}
.hg-275{
	height: 275px
}
.hg-275{
	height: 250px
}
.hg-200{
	height: 200px
}